<form name="confirmPasswordForm" class="form-horizontal" novalidate>
    <div class="form-group">
        <div class="col-sm-9">
            <input id="password" ng-model="password" type="password" class="form-control" required  placeholder="Password" focus="true"/>
        </div>
    </div>
    <div class="form-group" ng-class="{true:'has-error' , false : 'has-success'} [confirmPasswordForm.confirmPass.$error.confirmPassMatch]">
        <div class="col-sm-9">
            <input id="confirmPass" ng-model="confirmPass" type="password" class="form-control" required placeholder="Confirm Password" confirm-password-check="password"/>
            <p ng-show="confirmPasswordForm.confirmPass.$error.confirmPassMatch" class="help-block">Passwords don't match.</p>
        </div>
    </div>
</form>