
<form name="emailForm" class="form-horizontal" novalidate>
    <div class="form-group" ng-class="{true:'has-error' , false : 'has-success'} [emailForm.email.$invalid && !emailForm.email.$pristine]">
        <div class="col-sm-9">
            <input id="email" ng-model="email" name="email" type="email" class="form-control" required placeholder="Email" focus="true"/>
            <p ng-show="emailForm.email.$invalid && !emailForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
    </div>

</form>
