<div class="page-header">
	<h2>Login</h2>
</div>

<div class="row">

	<div class="col-md-6">
		<form name="forgotForm" class="form-horizontal" novalidate>
			<div class="form-group" ng-class="{true:'has-error' , false : 'has-success'} [loginForm.email.$invalid && !loginForm.email.$pristine]">
				<label for="email"  class="col-sm-3 control-label">Email:</label>
				<div class="col-sm-9">
					<input id="username" ng-model="username" name="email" type="email" class="form-control" required value="sathish.257216@gmail.com"/>
					<p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="button" value="Cancel" class="btn btn-primary" ng-click="cancel()"/>
					<input type="submit" value="Reset" class="btn btn-primary" ng-click="forgotPassword()" ng-disabled="loginForm.$invalid"/>
				</div>
			</div>
		</form>
	</div>

</div>